@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

main {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: 9px;
  scrollbar-color: white black;
}

*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}

a {
  text-decoration: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.nav-link:hover {
  color: blue;
}

:target {
  color: blue;
  font-weight: bold;
  font-size: xx-large;
}
